
body, h1 {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}


.game-container {
  text-align: center;
}

/* Board styling */
.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 9px;
  margin: 20px auto;

  background-color: #333;
}

/* Cell styling */
.cell {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #4f4f4f;
  color: #fff;
  border: 1px solid #909090;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offCell{
  
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #4f4f4f;
  color: #4f4f4f;
  border: 1px solid #909090;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #878787;
}
h1 {
  font-size: 3.5rem;
  color: #fff5f5;
  position: relative;
  bottom: 30px;
}

.winning-text{
  color: #fff;
  font-size: 40px;
}
.restart-btn:hover{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.winner-cells{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: green;
  color: #fff;
  border: 1px solid #909090;
  cursor: pointer;
  transition: background-color 0.5s ease;
}